
body {
  margin: 0;
  padding: 0;
  font-family: "Alice", serif;
}
body { font-family: "Aclonica", sans-serif; }

.App {
  display: flex;
  justify-content: center;
  font-family: Calibri;
  font-size: 24px;
  flex-direction: column;
}

.TitleSection {
  background-color: #6ea4bb;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e7e7e6;
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #5e98b1;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #e7e7e6;
  background-color: #006cbf
}

.TitleSection button:hover {
  cursor: pointer;
}
.DisplaySection {
  max-width: 60rem;
  width: 100%;
  text-align: center;
  margin:0 auto;
}